$other-background-color: #a5a5a5;
$other-font-color: black;
$operator-background-color: #ff9f0a;
$operator-font-color: white;
$base-background-color: #333333;
$base-font-color: white;

$base-radius: 5rem;
$base-border-radius: 5rem;
$base-margin: 1rem;
